{% extends 'base.html' %}

{% block title %}Add Note{% endblock %}
{% block style_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/notes-form.css') }}">
{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('notes.save_note') }}" enctype="multipart/form-data">
    <div class="note-container">
        <input type="text" name="note_title" class="note-title" placeholder="Название заметки">
        <textarea name="note_description" class="note-description" placeholder="Детальное описание..."></textarea>

        <input type="file" name="photos" id="photo-upload" multiple accept="image/*" style="display: none;">
        <button type="button" class="add-photo-btn" onclick="document.getElementById('photo-upload').click()">📷 Добавить фото</button>

        <div class="photos-container" id="photos-container"></div>
        <button type="submit" class="save-btn">Сохранить</button>
    </div>
</form>
{% block script %}
    <script src="{{ url_for('static', filename='scripts/notes-form-style.js') }}"></script>
{% endblock %}
{% endblock %}
